.premium {
  padding: 4% 0;

  h2 {
    text-align: center;
  }

  .container {
    display: flex;
  }

  .image {
    width: 50%;

    img {
      width: 100%;
    }

    @media (max-width: 1032px) {
      display: none;
    }
  }

  .content {
    width: 50%;

    @media (max-width: 1032px) {
      width: 80%;
      margin: auto;
    }

    h2 {
      // text-align: left;
    }

    .items,
    .buynow,
    .note {
      width: 80%;
      margin: auto;
    }

    .items {
      .item {
        margin-bottom: 4.758%;
        display: flex;
        align-items: center;
        line-height: 1.1em;
        font-size: 20px;

        .text {
          // padding-left: 15px;
        }
      }
    }

    .buynowpremium {
      color: #ffffff !important;
      border-color: #462ded;
      background-color: #462ded;
      font-size: 20px;
      font-weight: 500;
      padding: 0.3em 1em;
      padding-top: 0.3em;
      line-height: 1.7em !important;
      //   background-color: transparent;
      //   background-size: cover;
      //   background-position: 50%;
      //   background-repeat: no-repeat;
      //   border: 2px solid;
      //   border-top-color: currentcolor;
      //   border-right-color: currentcolor;
      //   border-bottom-color: currentcolor;
      //   border-left-color: currentcolor;
      border-radius: 5px;
      //   margin-bottom: 4.758%;
      margin-top: 29px;
    }

    .note {
      margin-top: 4.758%;
      line-height: 1.5em;

      font-size: 17px;
    }

    .danger {
      color: red;
    }
  }
}
