.pricing {
  font-family: 'Inter', sans-serif;
  background: #624de5;
  padding: 4% 0;

  h1,
  h2 {
    text-align: center;
    color: white;
  }

  .heading {
    margin-bottom: 5%;
  }

  .plans {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .plan {
      background: #171923;
      color: white;
      width: 22%;
      border-radius: 7px;
      padding: 2% 0;
      //   text-align: center;

      @media (max-width: 1032px) {
        width: 42%;
        margin-bottom: 2%;
      }

      @media (max-width: 640px) {
        width: 85%;
        margin-bottom: 5%;
      }
    }

    @media (max-width: 640px) {
      justify-content: center;
    }

    @media (max-width: 1032px) {
      flex-wrap: wrap;
    }
  }

  .valid {
    h2 {
      font-size: 1rem;
      text-transform: capitalize;
    }

    select {
      &:focus {
        outline: none;
      }
    }
  }

  .price {
    h1 {
      span {
        font-size: 1rem;
      }
    }
  }

  .options {
    width: max-content;
    margin: auto;

    ul {
      padding: 1rem;

      li {
        margin-bottom: 7px;

        &::marker {
          //   color: red;
        }
      }
    }
  }

  .buy {
    text-align: center;
    margin-bottom: 1rem;

    button {
      font-size: 22px;

      &:focus {
        outline: none;
      }
    }
  }
}

.methods {
  display: flex;
  justify-content: space-between;

  a {
    width: 50%;
    text-align: center;
  }

  img {
    cursor: pointer;
    width: 50% !important;
    height: 100px !important;
  }
}
