.downloads {
  h2 {
    text-align: center;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding-top: 1.7%;
    // padding-right: 30px;
    padding-bottom: 2.5%;
    // padding-left: 30px;
    margin-bottom: 30px;
  }

  .content {
    width: 57%;
    margin-left: 5.5%;
    text-align: center;

    .clipboard {
      font-size: 17px;
      line-height: 1.5em;
      background-color: #dddddd;
      position: relative;
      border-radius: 4px 4px 4px 4px;
      overflow: hidden;
      padding-bottom: 0px !important;
      width: 90%;
      overflow: visible;
      max-width: 600px;
      margin: auto;
      margin-bottom: 14px;

      p {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          margin: auto;
        }
      }

      .copybtn {
        padding: 8px 15px;
        background: #624de5;
        position: relative;
        right: 0px;
        margin-right: -20px;
        top: 0px;
        float: right;
        border-radius: 0px;
        cursor: pointer;
      }

      @media (max-width: 1032px) {
        max-width: 80%;
      }
    }

    .links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .link {
        width: 40%;

        img {
          padding: 0px !important;
          background: transparent !important;
          border-radius: 0px !important;
          //   width: 95%;
          max-width: 100%;
          // max-width: 250px;
          margin: 7px 10px;

          &:hover {
            box-shadow: 0px 0px 10px -3px #000;
            transform: scale(1.02);
          }

          @media (max-width: 1032px) {
            width: 70%;
            // display: none;
          }
        }
      }

      @media (max-width: 1032px) {
        justify-content: center;
      }
    }

    @media (max-width: 1032px) {
      width: 100%;
    }
  }

  .image {
    width: 60%;

    img {
      width: 100%;
    }

    @media (max-width: 1032px) {
      // width: 100%;
      display: none;
    }
  }
}
