.top-header {
  background: #2b3843;

  .overlay {
    &::before,
    &::after {
      background: transparent;
    }
  }

  .marquee {
    div {
      margin: 0;
      color: white;
      font-size: 12px;
      padding: 7px 0;
    }

    a {
      color: #8224e3;
    }
  }

  .marquee-content {
    margin-right: 50px;
  }

  @media (max-width: 1032px) {
    display: none;
  }
}

.main-header {
  width: 90%;
  margin: auto;
  max-width: 1280px;

  .desktop {
    @media (max-width: 1032px) {
      display: none !important;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;

    .logo {
      img {
        width: 139px;
      }
    }

    .nav-items {
      display: flex;

      .nav-item {
        text-transform: uppercase;
        font-weight: 600;
        margin: 0px 7px;
        font-size: 14px;
      }
    }
  }

  // Mobile menu
  .mobile-menu {
    display: none;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    width: 94%;
    margin: auto;

    .logo {
      img {
        width: 139px;
      }
      // width: 2rem;
      display: flex;
      align-items: center;

      div {
        margin-left: 1rem;
        // font-family: $font-inter-med;
        font-size: 25px;

        @media (max-width: 1032px) {
          font-size: 20px;
          margin-left: 0.2rem;
        }
      }

      a {
        display: flex;
        align-items: center;

        .logo-title {
          font-size: 21px;
        }
      }

      svg {
        width: 2rem;
        height: 2rem;
      }
    }

    .menu-icon {
      cursor: pointer;
    }

    .nav-items {
      display: flex;
      align-items: center;

      div {
        margin-right: 1rem;
        // font-family: 'Inter reg', sans-serif;
      }
    }

    @media (max-width: 1032px) {
      display: flex;
    }
  }

  .overlay {
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0%;
    background-color: #fff;
    // background-color: $mainBackground;
    // font-family: 'Inter reg', sans-serif;
    transform: translate(0);
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 100;

    a {
      // color: $primary-color;
    }

    .nav-items {
      margin-top: 1rem;
      div {
        padding: 1rem;
        text-transform: uppercase;
        // border-bottom: 1px solid rgb(37, 37, 39);
        a {
          transition: 0.3s all ease;
          font-weight: 600;

          &:hover {
            // color: $main-color;
          }
        }
      }
      &.hide {
        display: none;
      }
    }

    &.open {
      width: 100%;
      // transform: translate(100%);
    }
  }

  .social-icons {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    svg {
      width: 2rem;
      height: 2rem;
    }
    &.hide {
      display: none;
    }
  }
}
