.screenshots {
  background-color: #fff2fd;

  h2 {
    text-align: center;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .ss {
      width: 20%;
      margin-right: 4.5%;
      margin-bottom: 4.5%;
      cursor: pointer;
      border: 1px solid #8224e3;
      height: 10em;

      &:hover {
        // background-color: #8224e3;
      }

      img {
        height: 10em;
        width: 100%;
      }

      @media (max-width: 980px) {
        width: 40%;
      }

      @media (max-width: 480px) {
        width: 80%;
      }
    }
  }
}
